# Condition & Loop

## 학습목표
 * 조건문의 이해 및 활용 (if)
 * 반복문의 이해 및 활용 (while, for)

* condition (조건문)
 + 두 상태를 비교할 때 사용함
 + if, elif, else 키워드를 사용

In [42]:
if 5 < 6: # : -> 주의
    print 'True'

True

In [9]:
if 5 > 6:
    print 'Never printed' #조건이 거짓이므로 절대 수행되지 않는다.

In [12]:
a = 100
if a % 9 == 0:
    print '!!!'
if a % 9 != 0:
    print '---'    
if a % 9 == 1:
    print '???'

---
???

if는 혼자 존재 가능
elif는 if가 아닌 다른 조건
else는 if,elif 조건이 아닌 것 전부.

elif,else는 optional이다.
if,if,if로 이어진 것과 if,elif,elif로 이어진 것의 차이는??

if는 하나하나 모두 보겠다는 것이고, if,elif는 한 군데 걸리면 그 아래 조건은 보지 않고 내려간다.

In [22]:
a = 100
if a % 9 == 0:
    print '!!!'
elif a % 10 == 0:
    print '???'
else:
    print 'hahaha'

???

In [25]:
#중첩 nested
a = 99
if a % 9 == 0:
    if a%11==0:
        print '!!!'
elif a % 10 == 0:
    print '???'
else:
    print 'hahaha'
    
#그런데 이렇게 하기보단 한번에 하는게 낫겠지? and로 연결하자. or로도 연결가능하고. 계속 이어줄 수 있고 우선순위가 있을 때는 괄호로 묶어줌
a = 99
if (a % 9 == 0 and a%11==0) or a%12==0:
    print '!!!'
elif a % 10 == 0:
    print '???'
else:
    print 'hahaha'

!!!
!!!

In [24]:
x = 7

if (5 < x) and (x < 10): #타 언어들은 이렇게 적어야하는 반면
    print 'oh!'

oh!

In [31]:
x = 7
if 5 < x < 10: #파이썬에서는 부등호로 연결가능. 이하,이상은 <=,>=로 표현
    print 'oh!'
    
if x:
    print x

print "*"*100

x = 0
if 5 < x < 10: 
    print 'oh!'
    
if x:
    print x #0은 false.

oh!
7
****************************************************************************************************

+ if 뒤가 bool이 아니라면?
 * None
 * 0
 * 0.0
 * ''
 * []
 * ()
 * {}
 * set()
 
 모두 False로 간주

In [32]:
a = []

if a:
    print 'right!'
else:
    print 'empty' #빈 리스트는 false 그러므로 empty가 출력.

empty

In [33]:
a = 0
if not a != 0: #not false면 true.
    print 'haha'

haha

* loop (반복문)
 + 시퀀스 등을 순회하며 반복작업을 가능케 한다.
 + while, for 의 키워드 사용 가능
 + 코딩 시, 십중팔구 가장 많이 사용됨
 + for,while 뭐가 더 빠르고 그런거 없음. 상황에 맞게 편한 것, 맞는 것 쓰면 됨.

In [37]:
count = 1
while count <= 3: #true니까 수행되고
    print count
    count += 1
    
count = 1
while True: #무한루프돌 때 탈출방법 미리 넣어두려면
    print count
    count+=1
    if count>20:
        break

1
2
3
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

* break 
 + loop를 중단할 때 사용

In [12]:
count = 1
while True:
    print count
    count += 1
    if count > 3 :
        break

1
2
3

* continue
 + 반복을 중단하진 않지만, 다음 루프로 넘어갈 때 사용

In [38]:
var = 7                    
while var > 0:              
   var -= 1
   if var == 5:
      continue   
   print 'Current variable value :', var #good bye로 내려가지 않고 다시 while로 올라감.continue면 아래 명령 수행하지말고 조건식으로 올라가라'
print "Good bye!" #출력값에 왜 5가 없는지 생각해보자!.

Current variable value : 6
Current variable value : 4
Current variable value : 3
Current variable value : 2
Current variable value : 1
Current variable value : 0
Good bye!

* while - else
 + break 문에 걸리지 않고 while 종료 시, else문 호출 / break 걸려서 while 종료시 else 실행 안됨.
 + 지금 while과 else가 대치되는 것.

In [4]:
nums = [1, 4, 3, 5]
position = 0
while position < len(nums):
    number = nums[position]
    
    if number % 2 == 0:
        print 'even number'
        break
        
    position += 1
else:
    print 'no even number'

   

print "*"*100


nums = [1, 3, 5]
position = 0
while position < len(nums): #길이보다 작게 하는 이유는 길이만큼 가면 out of range가 뜨기 때문에.
    number = nums[position]
    
    if number % 2 == 0:
        print 'even number'
        break
        
    position += 1
else:
    print 'no even number'

even number
****************************************************************************************************
no even number

In [5]:
nums = [1,3,5,7,8,9]
position = 0
while position < len(nums):
    if nums[position] % 2 == 0:
        print("There's even number in this list")
        break
    position += 1 #if에 안걸리더라도 position은 올라가야하고, if전에 올리면 nums[position]값이 이상해지니까 여기 넣어준것.
    
else:
    print("There's no even number in this list.")

There's even number in this list

In [43]:
nums = [1, 3, 2, 5, 4, 6, 7, 9, 8]
pos = 0
while pos < len(nums):
    print nums[pos]
    pos += 1
    
nums = [1, 3, 2, 5, 4, 6, 7, 9, 8]
pos = 0
while pos < len(nums):
    print nums[pos], #출력값을 같은 줄에 나오게 하려면
    pos += 1

1
3
2
5
4
6
7
9
8
1 3 2 5 4 6 7 9 8

In [47]:
#질문사항 답변. 주소, 값.
a=[1,2,3,4]
b=[1,2,3,4]
print a==b

True

+ for 
 - 이터레이터가 내부적으로 생김
 - for [loop_var] in [sequence]: 로 쓰임
 - sequence는 리스트, 문자열, 튜플, 딕셔너리, 셋 등 순회 가능한 객체
 - 클래스 수업 이후, for에 적용가능한 커스텀 객체 생성 예정~
 - for는 while과 달리 index를 control할 필요가 없어서 편함!

In [58]:
a=[1,2,3,4,5]
for num in a:
    if num<=3:
        print num,
        
a=[1,2,3,4,5]
for num in a:
    print num,
    
print
    
    
a=[1,2,3,4,5]
for num in a:
    if num<=3:
        print num,
print       
a=[1,2,3,4,5]
for num in a:
    print num,

1 2 3 1 2 3 4 5
1 2 3
1 2 3 4 5

In [11]:
nums = [1, 3, 2, 5, 4, 6, 7, 9, 8]
for val in nums:
    print val
    
for i in nums:
    print i
    
for hahah in nums:
    print hahah

1
3
2
5
4
6
7
9
8
1
3
2
5
4
6
7
9
8
1
3
2
5
4
6
7
9
8

In [5]:
str = 'hello world'
for char in str.split():
    print char

str = 'hello world'
for char in str:
    print char,

hello
world
h e l l o   w o r l d

In [75]:
capitals = {'korea' : 'seoul', 'japan' : 'tokyo', 'usa' : 'Washington D.C'}
for country in capitals: #순회하는 변수는 key.
    print country, capitals[country]

    
for key in capitals.keys(): #.keys()는 key를 모두 list로.
    print key
    
for val in capitals.values():
    print val
    
print '-' * 20
    
for k, v in capitals.items(): #.items() key와 value를 tuple로 만들어서 
    print k, v
for item in capitals.items(): #tuple로 가져올 때
    print item
for item in capitals.items(): #.items() key와 value를 tuple로 만들어서 
    print item[0],item[1]

japan tokyo
korea seoul
usa Washington D.C
japan
korea
usa
tokyo
seoul
Washington D.C
--------------------
japan tokyo
korea seoul
usa Washington D.C
('japan', 'tokyo')
('korea', 'seoul')
('usa', 'Washington D.C')
japan tokyo
korea seoul
usa Washington D.C

+ for에서 index 사용하기
 - for index, value in enumerate([sequence]): 처럼 사용 가능

In [6]:
nums = [1, 3, 2, 5, 4, 6, 7, 9, 8]

for val in nums:
    print val,
print
for idx, val in enumerate(nums): #enumerate: list를 tuple로 바꿔줌
    print 'value at index', idx, 'is', val
    
for i,_ in enumerate(nums): # tuple로 받는데 나는 i만 사용하겠다. _는 그 변수 무시하겠다는 의미
    print 'value at index', i #안쓰겠다고 의도를 밝혔으므로  'is',val 지워줌!
    
for i in enumerate(nums): # tuple로 받는데 나는 i만 사용하겠다. _는 그 변수 무시하겠다는 의미
    print 'value at index', i

1 3 2 5 4 6 7 9 8
value at index 0 is 1
value at index 1 is 3
value at index 2 is 2
value at index 3 is 5
value at index 4 is 4
value at index 5 is 6
value at index 6 is 7
value at index 7 is 9
value at index 8 is 8
value at index 0
value at index 1
value at index 2
value at index 3
value at index 4
value at index 5
value at index 6
value at index 7
value at index 8
value at index (0, 1)
value at index (1, 3)
value at index (2, 2)
value at index (3, 5)
value at index (4, 4)
value at index (5, 6)
value at index (6, 7)
value at index (7, 9)
value at index (8, 8)

In [8]:
nums = [1, 3, 2, 5, 4, 6, 7, 9, 8]
for i, val in enumerate(nums):
    if i > 6: # if i > 8
        break
    print 'value at index', i, 'is', val
else:
    print 'all done'

value at index 0 is 1
value at index 1 is 3
value at index 2 is 2
value at index 3 is 5
value at index 4 is 4
value at index 5 is 6
value at index 6 is 7

* nested for loop

In [21]:
a = [1, 2, 3, 4]
b = [2, 3, 4] 

for i in a:
    for j in b:
        print i, j

1 2
1 3
1 4
2 2
2 3
2 4
3 2
3 3
3 4
4 2
4 3
4 4

 + if & for 연습문제
   
  1. 구구단을 2 - 9단까지 출력하시오.
  2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오. 
  4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
  5. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.

In [14]:
#2.
numbers = [number for number in range(1,101) if number % 2 == 0 or number % 11 ==0]
print numbers

#3.
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
max = a[0]
for number in a[1:]:
    if number > max:
        max = number
print max

min = a[0]
for number in a[1:]:
    if number < min:
        min = number
print min

#4.
result = 0
for number in a:
    result += number
    
print result / float(len(a))

[2, 4, 6, 8, 10, 11, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 33, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 77, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 99, 100]
99
1
37.0

In [92]:
#1.
for i in range(2,10):
    for j in range(1,10):
        print i,"*",j
    print "*"*10

2 * 1
2 * 2
2 * 3
2 * 4
2 * 5
2 * 6
2 * 7
2 * 8
2 * 9
**********
3 * 1
3 * 2
3 * 3
3 * 4
3 * 5
3 * 6
3 * 7
3 * 8
3 * 9
**********
4 * 1
4 * 2
4 * 3
4 * 4
4 * 5
4 * 6
4 * 7
4 * 8
4 * 9
**********
5 * 1
5 * 2
5 * 3
5 * 4
5 * 5
5 * 6
5 * 7
5 * 8
5 * 9
**********
6 * 1
6 * 2
6 * 3
6 * 4
6 * 5
6 * 6
6 * 7
6 * 8
6 * 9
**********
7 * 1
7 * 2
7 * 3
7 * 4
7 * 5
7 * 6
7 * 7
7 * 8
7 * 9
**********
8 * 1
8 * 2
8 * 3
8 * 4
8 * 5
8 * 6
8 * 7
8 * 8
8 * 9
**********
9 * 1
9 * 2
9 * 3
9 * 4
9 * 5
9 * 6
9 * 7
9 * 8
9 * 9
**********

In [7]:
#2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오.
for i in range(1,101):
    if i%2==0 or i%11==0:
        print i

nums=range(1,101)
for i in nums:
    if i%2==0 and i%11==0:
        print i

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100
22
44
66
88

In [108]:
#3. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
min=a[0]
max=a[0]
for num in a:
    if num<min:
        min=num
    elif num>max:
        max=num
print "min is",min,"and","max is", max

min is 1 and max is 99

In [106]:
#4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
total=0
for num in a:
    total+=num
avg=float(total)/len(a)
print avg

37.0

* 연습문제 2) sort algorithm animations 참고!
big o notation, sorting의 중요성. ex)1조개의 숫자 sorting. bubble sorting으로 o(n^2)이면 10^24. 우리 컴퓨터의 클락이 보통 10^8이라 할때 10^16초 걸릴 것임. 

 알고리즘의 설명을 듣고 아래 두 코드를 작성하세요
 1. 주어진 정수를 담는 리스트를 정렬하는 코드를 작성하세요. (bubble sort)    o(n^2)=n-1 + n-2 +...+1
 2. 주어진 정수를 담는 리스트를 정렬하는 코드를 작성하세요. (selection sort) o(n^2)=n-1 + n-2 +...+1
 3. 다음과 같은 점화식을 만족하는 수열을 피보나치 수열이라고 합니다. f0 = 1, f1 = 1, fn = fn-1 + fn-2 
    이때, 15번째까지 피보나치 수열을 출력하시오.

In [54]:
#1.
def bubblesort(numbers):
    for i in range(len(numbers)-1,0,-1):
        for idx in range(i):
            if numbers[idx] > numbers[idx+1]:
                temp = numbers[idx]
                numbers[idx] = numbers[idx+1]
                numbers[idx+1] = temp
    return numbers

numbers = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
print numbers
print bubblesort(numbers)

[22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
[1, 3, 4, 7, 19, 20, 21, 22, 45, 55, 87, 98, 99]

In [70]:
#2.
def selectionsort(alist):
    for i in range(len(alist)-1, 0, -1):
        position_of_max = 0
        for location in range(1, i+1):
            if alist[position_of_max] < alist[location]:
                postion_of_max = location
        
        temp = alist[i]
        alist[i] = alist[position_of_max]
        alist[position_of_max] = temp
    
    return alist

numbers = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
print numbers
print selectionsort(numbers)

[22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
[1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45, 22]

In [44]:
#1.bubble sort
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
for num in range(len(a)-1,0,-1):
    for i in range(num):
        if a[i]>a[i+1]:
            temp=a[i]
            a[i]=a[i+1]
            a[i+1]=temp
    print a

[1, 3, 4, 7, 22, 21, 55, 87, 98, 19, 20, 45, 99]
[1, 3, 4, 7, 21, 22, 55, 87, 19, 20, 45, 98, 99]
[1, 3, 4, 7, 21, 22, 55, 19, 20, 45, 87, 98, 99]
[1, 3, 4, 7, 21, 22, 19, 20, 45, 55, 87, 98, 99]
[1, 3, 4, 7, 21, 19, 20, 22, 45, 55, 87, 98, 99]
[1, 3, 4, 7, 19, 20, 21, 22, 45, 55, 87, 98, 99]
[1, 3, 4, 7, 19, 20, 21, 22, 45, 55, 87, 98, 99]
[1, 3, 4, 7, 19, 20, 21, 22, 45, 55, 87, 98, 99]
[1, 3, 4, 7, 19, 20, 21, 22, 45, 55, 87, 98, 99]
[1, 3, 4, 7, 19, 20, 21, 22, 45, 55, 87, 98, 99]
[1, 3, 4, 7, 19, 20, 21, 22, 45, 55, 87, 98, 99]
[1, 3, 4, 7, 19, 20, 21, 22, 45, 55, 87, 98, 99]

In [42]:
#2.selection sort
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

print a
for i in range(len(a)):
    min = a[i]
    min_idx=i
    
    for j in range(i+1,len(a)):
        if min > a[j]:
            min = a[j]
            min_idx = j
            
    temp = a[i]
    a[i] = a[min_idx]
    a[min_idx] = temp
        
    print a

[22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
[1, 22, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
[1, 3, 22, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
[1, 3, 4, 22, 7, 98, 21, 55, 87, 99, 19, 20, 45]
[1, 3, 4, 7, 22, 98, 21, 55, 87, 99, 19, 20, 45]
[1, 3, 4, 7, 19, 98, 21, 55, 87, 99, 22, 20, 45]
[1, 3, 4, 7, 19, 20, 21, 55, 87, 99, 22, 98, 45]
[1, 3, 4, 7, 19, 20, 21, 55, 87, 99, 22, 98, 45]
[1, 3, 4, 7, 19, 20, 21, 22, 87, 99, 55, 98, 45]
[1, 3, 4, 7, 19, 20, 21, 22, 45, 99, 55, 98, 87]
[1, 3, 4, 7, 19, 20, 21, 22, 45, 55, 99, 98, 87]
[1, 3, 4, 7, 19, 20, 21, 22, 45, 55, 87, 98, 99]
[1, 3, 4, 7, 19, 20, 21, 22, 45, 55, 87, 98, 99]
[1, 3, 4, 7, 19, 20, 21, 22, 45, 55, 87, 98, 99]

In [127]:
#3.fibonazi
fibo=[1,1]
for i in range(2,15):
    fibo.append(fibo[i-2]+fibo[i-1])
print fibo[-1]

610

In [1]:
#1-1.주어진 정수를 담는 리스트를 정렬하는 코드를 작성하세요. (bubble sort) o(n^2)=n-1 + n-2 +...+1
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

In [2]:
#2-1.주어진 정수를 담는 리스트를 정렬하는 코드를 작성하세요. (selection sort) o(n^2)=n-1 + n-2 +...+1
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

In [ ]:
#3-1.다음과 같은 점화식을 만족하는 수열을 피보나치 수열이라고 합니다. f0 = 1, f1 = 1, fn = fn-1 + fn-2 이때, 15번째까지 피보나치 수열을 출력하시오.

* zip()으로 두개 이상의 시퀀스 묶기

In [20]:
capitals = {'korea' : 'seoul', 'usa' : 'Washington D.C', 'japan' : 'tokyo'}
countries = capitals.keys()
cities = capitals.values()

#print zip(countries, cities), type(zip(countries, cities)) #zip으로 리스트를 묶으면 tuple list가 됨! zip은 최소 길이 기준으로 맞춰짐!

for country, city in zip(countries, cities):
    print country, city

print
# 쌍을 보장해서 하려면. .items() 
for c,v in capitals.items():
    print c,v 
    
aa = [1, 2, 3]
bb = [2, 4, 6]
cc = [1, 4, 9]

for a, b, c in zip(aa, bb, cc):
    print a, b, c

japan tokyo
korea seoul
usa Washington D.C

japan tokyo
korea seoul
usa Washington D.C
1 2 1
2 4 4
3 6 9

In [22]:
city_lst = {"Korea" : "Pohang", "Japan" : "Kyoto", "USA" : "NYC"}
countries = city_lst.keys()
cities = city_lst.values()
for country, city in zip(countries, cities):
    print country, city

Japan Kyoto
Korea Pohang
USA NYC

 + range()
  - 숫자 시퀀스 생성

In [9]:


a = range(3)
print a, type(a)

b = range(1, 9)
print b

c = range(5, 105, 5)
print c

d = range(10, -1, -2)
print d

[0, 1, 2] <type 'list'>
[1, 2, 3, 4, 5, 6, 7, 8]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
[10, 8, 6, 4, 2, 0]

* comprehension
 + 하나 이상의 iterator로 부터 파이썬의 자료 구조를 만드는 엘레강스하고 간결한 방법
 + list comprehension 매우 간편함!
 + comprehension은 일종의 언어적 장치!

In [26]:
nums = [1, 2, 3, 4, 5, 6]
#nums = range(1, 7)

even_nums = []
for i in nums:
    if i % 2 == 0:
        even_nums.append(i)
        
print even_nums

even_nums2 = [2*i for i in range(1,4)]
print(even_nums2)

[2, 4, 6]
[2, 4, 6]

In [141]:
nums = range(1,15)
even_nums2 = [i for i in nums if i % 2 == 0] #이게 그냥 list로 만들어짐.
even_nums3 = [i+3 for i in nums if i % 2 == 0] #i+3을 list에 담음.
print even_nums2
print even_nums3

[2, 4, 6, 8, 10, 12, 14]
[5, 7, 9, 11, 13, 15, 17]

In [34]:
nums2 = [i for i in nums]
nums3 = [i**2 for i in nums]

print nums2
print nums3

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]

* [expression for element in sequence]

In [20]:
nums4 = [2*i for i in nums if i < 2]

nums6 = [i if i < 4 else 0 for i in range(1,7)]

nums5 = [i**2 if i < 4 else i*2 for i in nums] #else를 쓰고 싶으면 if와 else를 for 앞에 써야한다. 1,2,3은 제곱하고 나머지는 2배. 

print nums4
print nums6
print nums5

[2]
[1, 2, 3, 0, 0, 0]
[1, 9, 4, 10, 8, 12, 14, 18, 16]

In [146]:
nums = range(11)
temp_nums = [i for i in nums if i % 3 == 0]
print temp_nums
temp_nums1 = [(i,1) for i in nums if i == 1]
print temp_nums1

[0, 3, 6, 9]
[(1, 1)]

In [36]:
times_3 = [i for i in range(11) if i % 3 == 0]
print(times_3)

[0, 3, 6, 9]

In [38]:
rows = range(1, 4)
cols = range(1, 3)

for row in rows:
    for col in cols:
        print row, col
        
print '-' * 20
        
cells = [(row, col) for row in rows for col in cols]
for row, col in cells:
    print row, col

1 1
1 2
2 1
2 2
3 1
3 2
--------------------
1 1
1 2
2 1
2 2
3 1
3 2

In [39]:
for i in range(1,4):
    for j in range(1,i+1):
        print i, j

print

1 1
2 1
2 2
3 1
3 2
3 3

* dictionary comprehension

In [147]:
words = ['apple', 'banana', 'chicago', 'do', 'elephant']

dict1={}
for w in words:
    dict1[w]=len(w) #value is length of key
print dict1


words_dict = {w : len(w) for w in words} #a dict always needs keys.

print words_dict

{'do': 2, 'chicago': 7, 'elephant': 8, 'apple': 5, 'banana': 6}
{'do': 2, 'chicago': 7, 'elephant': 8, 'apple': 5, 'banana': 6}

In [15]:
words = ['apple', 'banana', 'chicago', 'do', 'elephant']
dict1 = {}
for word in words:
    dict1[word] = len(word)
print(dict1)

dict1 = {word: len(word) for word in words} # word:  로 표시한다!
print(dict1)

{'do': 2, 'chicago': 7, 'elephant': 8, 'apple': 5, 'banana': 6}
{'do': 2, 'chicago': 7, 'elephant': 8, 'apple': 5, 'banana': 6}

* comprehension 연습문제 (그냥 코딩해도 되지만 comprehension 연습해보자!)
 1. Celsius = [39.2, 36.5, 37.3, 37.8] F = (9/5) * C + 32 일 때, 리스트의 각 값을 화씨로 바꾼 리스트를 만드시오.
 2. 주어진 문자열에서 띄어쓰기의 개수는? 'Today is very nice and I want to go out for dinner'
 3. 주어진 문자열에서 모음을 모두 제거하시오. 'Today is very nice and I want to go out for dinner'

In [30]:
Celsius = [39.2, 36.5, 37.3, 37.8]
Farenheit = [(9/5) * C + 32 for C in Celsius]
print Farenheit

a = 'Today is very nice and I want to go out for dinner'
a_blank = [ch for ch in a if ch == " "]
print a_blank
print len(a_blank)

vowels = 'aeiou'
a_split = [ch for ch in a.lower() if ch not in vowels]
print " ".join(a_split)
print "".join(a_split)

[71.2, 68.5, 69.3, 69.8]
[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
11
t d y   s   v r y   n c   n d     w n t   t   g   t   f r   d n n r
tdy s vry nc nd  wnt t g t fr dnnr

In [151]:
#1. Celsius = [39.2, 36.5, 37.3, 37.8] F = (9/5) * C + 32 일 때, 리스트의 각 값을 화씨로 바꾼 리스트를 만드시오.
Celsius = [39.2, 36.5, 37.3, 37.8]
Farenheit=[((9/5) * c + 32) for c in Celsius]
print Farenheit

[71.2, 68.5, 69.3, 69.8]

In [16]:
#1-1.
Celsius = [39.2, 36.5, 37.3, 37.8] 
F = [(9/5) * C + 32 for C in Celsius]
print F

[71.2, 68.5, 69.3, 69.8]

In [22]:
#2.주어진 문자열에서 띄어쓰기의 개수는? 'Today is very nice and I want to go out for dinner'
sen='Today is very nice and I want to go out for dinner'
sen_split=sen.split(' ')
print sen_split
print len(sen_split)-1
print
#2. comprehension 쓰면
temp=[ch for ch in sen]
print temp
temp1=[ch for ch in sen if ch == ' ']
print len(temp1)

a='Today is very nice and I want to go out for dinner'
a_ch = [ch for ch in a]
a_ch_blank = [ch for ch in a_ch if ch == " "]
print len(a_ch_blank)

['Today', 'is', 'very', 'nice', 'and', 'I', 'want', 'to', 'go', 'out', 'for', 'dinner']
11

['T', 'o', 'd', 'a', 'y', ' ', 'i', 's', ' ', 'v', 'e', 'r', 'y', ' ', 'n', 'i', 'c', 'e', ' ', 'a', 'n', 'd', ' ', 'I', ' ', 'w', 'a', 'n', 't', ' ', 't', 'o', ' ', 'g', 'o', ' ', 'o', 'u', 't', ' ', 'f', 'o', 'r', ' ', 'd', 'i', 'n', 'n', 'e', 'r']
11
11

In [47]:
#2-1.주어진 문자열에서 띄어쓰기의 개수는? 'Today is very nice and I want to go out for dinner'
sen='Today is very nice and I want to go out for dinner'
sen_splited = sen.split()
print(sen_splited)
blank = len(sen_splited) - 1
print(blank)

#2-2. comprehension
temp = [ch for ch in sen]
temp1 = [ch for ch in temp if ch == " "]
print(temp1)
print(len(temp1))

['Today', 'is', 'very', 'nice', 'and', 'I', 'want', 'to', 'go', 'out', 'for', 'dinner']
11
[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']
11

In [175]:
#3.주어진 문자열에서 모음을 모두 제거하시오. 'Today is very nice and I want to go out for dinner'
sen='Today is very nice and I want to go out for dinner'
temp=[ch for ch in sen]
print temp
vowels='aeiou'
if ch in vowels:
    temp.remove(ch)
print temp

#강사님 풀이.
sen='Today is very nice and I want to go out for dinner'
vowels='aeiou'
temp=[ch for ch in sen if not ch in vowels] #remove하는 것 보다 not 을 쓰는게 편한 경우의 예시!
print temp
print ''.join(temp)

['T', 'o', 'd', 'a', 'y', ' ', 'i', 's', ' ', 'v', 'e', 'r', 'y', ' ', 'n', 'i', 'c', 'e', ' ', 'a', 'n', 'd', ' ', 'I', ' ', 'w', 'a', 'n', 't', ' ', 't', 'o', ' ', 'g', 'o', ' ', 'o', 'u', 't', ' ', 'f', 'o', 'r', ' ', 'd', 'i', 'n', 'n', 'e', 'r']
['T', 'o', 'd', 'a', 'y', ' ', 'i', 's', ' ', 'v', 'e', 'r', 'y', ' ', 'n', 'i', 'c', 'e', ' ', 'a', 'n', 'd', ' ', 'I', ' ', 'w', 'a', 'n', 't', ' ', 't', 'o', ' ', 'g', 'o', ' ', 'o', 'u', 't', ' ', 'f', 'o', 'r', ' ', 'd', 'i', 'n', 'n', 'e', 'r']
['T', 'd', 'y', ' ', 's', ' ', 'v', 'r', 'y', ' ', 'n', 'c', ' ', 'n', 'd', ' ', 'I', ' ', 'w', 'n', 't', ' ', 't', ' ', 'g', ' ', 't', ' ', 'f', 'r', ' ', 'd', 'n', 'n', 'r']
Tdy s vry nc nd I wnt t g t fr dnnr

In [45]:
#3.주어진 문자열에서 모음을 모두 제거하시오. 'Today is very nice and I want to go out for dinner'
sen = 'Today is very nice and I want to go out for dinner'
vowels = "aeiouAEIOU"
empty_str = ""
for ch in sen:
    if ch not in vowels:
        empty_str += ch
print(empty_str)

temp = [ch for ch in sen if ch not in vowels]
print(temp)
print("".join(temp))

Tdy s vry nc nd  wnt t g t fr dnnr
['T', 'd', 'y', ' ', 's', ' ', 'v', 'r', 'y', ' ', 'n', 'c', ' ', 'n', 'd', ' ', ' ', 'w', 'n', 't', ' ', 't', ' ', 'g', ' ', 't', ' ', 'f', 'r', ' ', 'd', 'n', 'n', 'r']
Tdy s vry nc nd  wnt t g t fr dnnr

In [28]:
a = "abcd"
print a[::-1]

dcba

* assignment
 1. 1 - 1000까지 정수 중 소수만 출력하시오. prime number
 2. 1 - 9000까지 정수 중 palindrome의 개수는? palindrome은 11, 121, 1331, 999 등 앞으로 읽으나 뒤로 읽으나 같은 수를 의미 합니다. 대칭.

In [26]:
#1.
nums = range(3,1001)
prime = [2]
for i in nums:
    is_prime = True
    for j in range(2,i):
        if i % j == 0:
            is_prime = False
            break
            
    if is_prime:
        prime.append(i)
print prime
print
#1. big o notation을 o(sqrt(n))으로 줄이려면?. 어차피 1~i까지 다 볼 필요 없다. sqrt(i)까지만 보면 알 수 있음. 
import math
nums = range(3,1001)
prime = [2]
for i in nums:
    is_prime = True
    for j in range(2,int(math.sqrt(i)+1)):
        if i % j == 0:
            is_prime = False
            break
            
    if is_prime:
        prime.append(i)
print prime


#에라토네스의 체. 2,3,5의 배수를 모두 제거하면 소수만 남음!
nums=range(2,1001)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [41]:
#2. 1 - 9000까지 정수 중 palindrome의 개수는? palindrome은 11, 121, 1331, 999 등 앞으로 읽으나 뒤로 읽으나 같은 수를 의미.
nums = range(1,9001)
palindrome = [ ]
for num in nums:
    str_num = str(num)
    if str_num == str_num[::-1]:
        palindrome.append(num)
        
print palindrome

TypeError: 'str' object is not callable

In [59]:
#1-1.1 - 1000까지 정수 중 소수만 출력하시오. prime number
import math
prime = [2]
for num in range(3,1001):
    is_prime = True
    for i in range(2,int(math.sqrt(num))+1):
        if num % i == 0:
            is_prime = False
            break
            
    if is_prime == True:
        prime.append(num)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [44]:
#2-1.1 - 9000까지 정수 중 palindrome의 개수는? palindrome은 11, 121, 1331, 999 등 앞으로 읽으나 뒤로 읽으나 같은 수를 의미 합니다. 대칭.
palindrome = []
for num in range(1,9001):
    num_str = str(num)
    empty_str = ""
    for ch in num_str:
        empty_str = ch + empty_str
    
    if num_str == empty_str:
        palindrome.append(int(num_str))
        
print(palindrome)


print("*"*130)
#2-2.
palindrome = []
for num in range(1,9001):
    num_str = str(num)
    if num_str == num_str[::-1]:
        palindrome.append(num)
        
print(palindrome)

TypeError: 'str' object is not callable

In [45]:
prime_number = [2]
for i in range(3,1001):
    for j in range(2,i):
        if i % j == 0:
            break
            
    else:
        prime_number.append(i)
print prime_number

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [46]:
lst = []
for num in range(1,9001):
    if str(num) == str(num)[::-1]:
        lst.append(num)
print lst

TypeError: 'str' object is not callable