# Condition & Loop

## 학습목표
 * 조건문의 이해 및 활용 (if)
 * 반복문의 이해 및 활용 (while, for)

* condition (조건문)
 + 두 상태를 비교할 때 사용함
 + if, elif, else 키워드를 사용

In [8]:

if 5 == 6: # : -> 주의
    print 'dfdf'
    print 'a'
    print 'c'
    
print 'cddf'

cddf

In [9]:
if 5 > 6:
    print 'never printed'

In [10]:
a = 100
if a % 9 == 0:
    print '!!!'
if a % 9 == 1:
    print '???'

???

In [12]:
a = 99
# 중첩 nested
if a % 9 == 0:
    if a % 11  == 0:
        print '!!!'
elif a % 10 == 0:
    print '???'
else:
    print 'hahaha'

!!!

!!!

In [18]:
x = 7

if (5 > x) and (x < 10):
    print 'oh!'

oh!

In [23]:
a = []
if a:
    print a

+ if 뒤가 bool이 아니라면?
 * None
 * 0
 * 0.0
 * ''
 * []
 * ()
 * {}
 * set()
 
 모두 False로 간주

In [24]:
a = []

if a:
    print 'right!'
else:
    print 'empty'

empty

In [26]:
5 == 6
5 != 6


a = 0
if not a == 0:
    print 'haha'

* loop (반복문)
 + 시퀀스등을 순회하며 반복작업을 가능케 한다.
 + while, for 의 키워드 사용 가능
 + 코딩 시, 십중팔구 가장 많이 사용됨

In [11]:
count = 1
while count <= 3:
    print count
    count += 1
    
print count
print 'a'

1
2
3

* break 
 + loop를 중단할 때 사용

In [30]:
count = 1
while True:
    print count
    count += 1
    if count > 3 :
        break

1
2
3

* continue
 + 반복을 중단하진 않지만, 다음 루프로 넘어갈 때 사용

In [31]:
var = 7                    
while var > 0:              
   var -= 1
   if var == 5:
      continue
    
   print 'Current variable value :', var

print "Good bye!"

Current variable value : 6
Current variable value : 4
Current variable value : 3
Current variable value : 2
Current variable value : 1
Current variable value : 0
Good bye!

* while - else
 + break 문에 걸리지 않고 while 종료 시, else문 호출

In [33]:
nums = [1, 3, 5]

position = 0

while position < len(nums):
    number = nums[position]
    
    if number % 2 == 0:
        print 'even number'
        break
        
    position += 1
else:
    print 'no even number'

no even number

In [35]:
nums = [1, 3, 2, 5, 4, 6, 7, 9, 8]
pos = 0
while pos < len(nums):
    print nums[pos],
    pos += 1

1 3 2 5 4 6 7 9 8

In [39]:
a = [1, 2, 3, 4]
b = a

print a == b

# 내부적으로 어떻게 처리하는지 알아보기

True

+ for 
 - 이터레이터가 내부적으로 생김
 - for [loop_var] in [sequence]: 로 쓰임
 - sequence는 리스트, 문자열, 튜플, 딕셔너리, 셋 등 순회 가능한 객체
 - 클래스 수업 이후, for에 적용가능한 커스텀 객체 생성 예정~

In [ ]:

a = [1, 2, 3, 4, 5]
for i in a:
    print i

In [43]:
nums = [1, 3, 2, 5, 4, 6, 7, 9, 8]
for val in nums:
    print val, 
    
print 
for i in nums:
    print i,
    
print
for num in nums:
    print num,

1 3 2 5 4 6 7 9 8
1 3 2 5 4 6 7 9 8
1 3 2 5 4 6 7 9 8

In [45]:
str = 'hello world'
for char in str:
    print char

h
e
l
l
o

w
o
r
l
d

In [48]:
capitals = {'korea' : 'seoul', 'japan' : 'tokyo', 'usa' : 'Washington D.C'}

for country in capitals:
    print country, capitals[country]

    
for key in capitals.keys():
    print key
    
for val in capitals.values():
    print val
    
print '-' * 20
    
for k, v in capitals.items():
    print k, v

japan tokyo
korea seoul
usa Washington D.C

+ for에서 index 사용하기
 - for index, value in enumerate([sequence]): 처럼 사용 가능

In [51]:
nums = [1, 3, 2, 5, 4, 6, 7, 9, 8]

for val in nums:
    print val,

    
for i, _ in enumerate(nums):
    print 'value at index', i
    
    
# csv

1 3 2 5 4 6 7 9 8 <enumerate object at 0x1066fc640>
value at index 0 is 8
value at index 1 is 8
value at index 2 is 8
value at index 3 is 8
value at index 4 is 8
value at index 5 is 8
value at index 6 is 8
value at index 7 is 8
value at index 8 is 8

In [25]:
nums = [1, 3, 2, 5, 4, 6, 7, 9, 8]
for i, val in enumerate(nums):
    if i > 7: # if i > 8
        break
    print 'value at index', i, 'is', val
else:
    print 'all done'

value at index 0 is 1
value at index 1 is 3
value at index 2 is 2
value at index 3 is 5
value at index 4 is 4
value at index 5 is 6
value at index 6 is 7
value at index 7 is 9

In [21]:
a = [1, 2, 3, 4]
b = [2, 3, 4] 

for i in a:
    for j in b:
        print i, j

1 2
1 3
1 4
2 2
2 3
2 4
3 2
3 3
3 4
4 2
4 3
4 4

In [54]:
print a
len(a)

[1, 2, 3, 4]

4

In [61]:
#a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a = range(11)
b = range(2, 101, 2)
print b

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

 + if & for 연습문제
   
  1. 구구단을 2 - 9단까지 출력하시오.
  2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오. 
  4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
  5. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.

In [77]:
nums = range(1, 101)

for i in nums:
    if i % 2 == 0 or i % 11 == 0:
        print i,

22 44 66 88

In [80]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

minimum = a[0]

for i in a[1:]:
    if minimum > i:
        minimum = i
        
print minimum

1

In [81]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
# 전체 합 / 개수

sum1 = 0
for i in a:
    sum1 = sum1 + i
    
print float(sum1) / len(a)

37.0

In [72]:
for i in range(2, 10):
    temp = []
    for j in range(1, 10):
        str1 = str(i) + '*' + str(j) + '=' + str(i * j)
        temp.append(str1)
        
    print tuple(temp)

('2*1=2', '2*2=4', '2*3=6', '2*4=8', '2*5=10', '2*6=12', '2*7=14', '2*8=16', '2*9=18')
('3*1=3', '3*2=6', '3*3=9', '3*4=12', '3*5=15', '3*6=18', '3*7=21', '3*8=24', '3*9=27')
('4*1=4', '4*2=8', '4*3=12', '4*4=16', '4*5=20', '4*6=24', '4*7=28', '4*8=32', '4*9=36')
('5*1=5', '5*2=10', '5*3=15', '5*4=20', '5*5=25', '5*6=30', '5*7=35', '5*8=40', '5*9=45')
('6*1=6', '6*2=12', '6*3=18', '6*4=24', '6*5=30', '6*6=36', '6*7=42', '6*8=48', '6*9=54')
('7*1=7', '7*2=14', '7*3=21', '7*4=28', '7*5=35', '7*6=42', '7*7=49', '7*8=56', '7*9=63')
('8*1=8', '8*2=16', '8*3=24', '8*4=32', '8*5=40', '8*6=48', '8*7=56', '8*8=64', '8*9=72')
('9*1=9', '9*2=18', '9*3=27', '9*4=36', '9*5=45', '9*6=54', '9*7=63', '9*8=72', '9*9=81')

In [26]:
result = []

for i in range(1, 101):
    if i % 2 == 0 or i % 11 == 0:
        result.append(i)
        
print result

[2, 4, 6, 8, 10, 11, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 33, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 77, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 99, 100]

In [ ]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
min = a[0]

for i in a:
    if min > i:
        min = i

In [ ]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]
sum = 0
for i in a:
    sum += i
    
print float(sum) / len(a)

* range 함수

In [7]:
print range(10)
print range(1, 10)
print range(1, 10, 2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

* 연습문제 2)

 알고리즘의 설명을 듣고 아래 두 코드를 작성하세요
 1. 주어진 정수를 담는 리스트를 정렬하는 코드를 작성하세요. (bubble sort)
 2. 주어진 정수를 담는 리스트를 정렬하는 코드를 작성하세요. (selection sort)
 3. 다음과 같은 점화식을 만족하는 수열을 피보나치 수열이라고 합니다. f0 = 1, f1 = 1, fn = fn-1 + fn-2 
    이때, 15번째까지 피보나치 수열을 출력하시오.

In [20]:
# bubble sort
arr = [9, 1, 2, 15, 23, 7, 8, 6, 4, 3, 17]
count = len(arr)

for i in range(count):
    for j in range(1, count - i):
        if arr[j-1] > arr[j]:
            temp = arr[j]
            arr[j] = arr[j-1]
            arr[j-1] = temp
            
    print arr
            
print arr

[1, 2, 9, 15, 7, 8, 6, 4, 3, 17, 23]
[1, 2, 9, 7, 8, 6, 4, 3, 15, 17, 23]
[1, 2, 7, 8, 6, 4, 3, 9, 15, 17, 23]
[1, 2, 7, 6, 4, 3, 8, 9, 15, 17, 23]
[1, 2, 6, 4, 3, 7, 8, 9, 15, 17, 23]
[1, 2, 4, 3, 6, 7, 8, 9, 15, 17, 23]
[1, 2, 3, 4, 6, 7, 8, 9, 15, 17, 23]
[1, 2, 3, 4, 6, 7, 8, 9, 15, 17, 23]
[1, 2, 3, 4, 6, 7, 8, 9, 15, 17, 23]
[1, 2, 3, 4, 6, 7, 8, 9, 15, 17, 23]
[1, 2, 3, 4, 6, 7, 8, 9, 15, 17, 23]
[1, 2, 3, 4, 6, 7, 8, 9, 15, 17, 23]

In [18]:
# selection sort
arr = [9, 1, 2, 15, 23, 7, 8, 6, 4, 3, 17]
print arr

count = len(arr)

for i in range(count):
    minimum = arr[i]
    minimum_idx = i
    
    for j in range(i+1, count):
        if minimum > arr[j]:
            minimum = arr[j]
            minimum_idx = j
            
    temp = arr[i]
    arr[i] = arr[minimum_idx]
    arr[minimum_idx] = temp
    
    print arr
    

print arr

[9, 1, 2, 15, 23, 7, 8, 6, 4, 3, 17]
[1, 9, 2, 15, 23, 7, 8, 6, 4, 3, 17]
[1, 2, 9, 15, 23, 7, 8, 6, 4, 3, 17]
[1, 2, 3, 15, 23, 7, 8, 6, 4, 9, 17]
[1, 2, 3, 4, 23, 7, 8, 6, 15, 9, 17]
[1, 2, 3, 4, 6, 7, 8, 23, 15, 9, 17]
[1, 2, 3, 4, 6, 7, 8, 23, 15, 9, 17]
[1, 2, 3, 4, 6, 7, 8, 23, 15, 9, 17]
[1, 2, 3, 4, 6, 7, 8, 9, 15, 23, 17]
[1, 2, 3, 4, 6, 7, 8, 9, 15, 23, 17]
[1, 2, 3, 4, 6, 7, 8, 9, 15, 17, 23]
[1, 2, 3, 4, 6, 7, 8, 9, 15, 17, 23]
[1, 2, 3, 4, 6, 7, 8, 9, 15, 17, 23]

In [22]:
fibo = [1, 1]

for i in range(2,15):
    fibo.append(fibo[i-1]+fibo[i-2])
    
print fibo[-1]

610

* zip()으로 두개 이상의 시퀀스 묶기

In [87]:
capitals = {'korea' : 'seoul', 'japan' : 'tokyo', 'usa' : 'Washington D.C'}
countries = capitals.keys()
cities = capitals.values()

#print zip(countries, cities)

for country, city in zip(countries, cities):
    print country, city
    
    
for k, v in capitals.items():
    print k, v
    
    
aa = [1, 2, 3]
bb = [2, 4, 6]
cc = [1, 4, 9]
dd = [1, 4, 9]

for a, b, c, d in zip(aa, bb, cc, dd):
    print a, b, c, d

japan tokyo
korea seoul
usa Washington D.C
1 2 1
2 4 4
3 6 9

 + range()
  - 숫자 시퀀스 생성

In [28]:


a = range(3)
print type(a), a

b = range(1, 9)
print b

c = range(5, 105, 5)
print c

d = range(10, -1, -1)
print d

<type 'list'> [0, 1, 2]
[1, 2, 3, 4, 5, 6, 7, 8]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

* comprehension
 + 하나 이상의 이터레이터로 부터 파이썬의 자료 구조를 만드는 엘레강스하고 간결한 방법

In [88]:
nums = [1, 2, 3, 4, 5, 6]
#nums = range(1, 7)

even_nums = []
for i in nums:
    if i % 2 == 0:
        even_nums.append(i)
        
print even_nums

[2, 4, 6]

In [89]:
nums = [1, 2, 3, 4, 5, 6]

even_nums2 = [i for i in nums if i % 2 == 0]
even_nums3 = [i + 3 for i in nums if i % 2 == 0]

print even_nums2
print even_nums3

[2, 4, 6]
[5, 7, 9]

In [34]:
nums2 = [i for i in nums]
nums3 = [i**2 for i in nums]

print nums2
print nums3

[1, 2, 3, 4, 5, 6]
[1, 4, 9, 16, 25, 36]

* [expression for element in sequence]

In [91]:
nums4 = [i for i in nums if i < 4]

#nums41 = [i for i in nums if i < 4 else 0]

nums5 = [i**2 if i < 4 else i*2 for i in nums]

print nums4
print nums5

[1, 2, 3]
[1, 4, 9, 8, 10, 12]

In [93]:
nums = range(11)

temp_nums = [i for i in nums if i % 3 == 0]
temp_nums = [(i, 1) for i in nums if i == 1]

In [92]:
rows = range(1, 4)
cols = range(1, 3)

for row in rows:
    for col in cols:
        print row, col
        
print '-' * 20
        
cells = [(row, col) for row in rows for col in cols]
for row, col in cells:
    print row, col

1 1
1 2
2 1
2 2
3 1
3 2
--------------------
1 1
1 2
2 1
2 2
3 1
3 2

* dictionary comprehension

In [95]:
words = ['apple', 'banana', 'chicago', 'do', 'elephant']

dict1 = {}
for w in words:
    dict1[w] = len(w)
    
print dict1


#언어적 장치

words = ['apple', 'banana', 'chicago', 'do', 'elephant']
words_dict = {w : len(w) for w in words}

print words_dict

{'do': 2, 'chicago': 7, 'elephant': 8, 'apple': 5, 'banana': 6}
{'do': 2, 'chicago': 7, 'elephant': 8, 'apple': 5, 'banana': 6}

* comprehension 연습문제
 1. Celsius = [39.2, 36.5, 37.3, 37.8] F = (9/5) * C + 32 일 때, 리스트의 각 값을 화씨로 바꾼 리스트를 만드시오.
 2. 주어진 문자열에서 띄어쓰기의 개수는? 'Today is very nice and I want to go out for dinner'
 3. 주어진 문자열에서 모음을 모두 제거하시오. 'Today is very nice and I want to go out for dinner'

In [98]:
Celsius = [39.2, 36.5, 37.3, 37.8]
F = [1.8 * c + 32  for c in Celsius]
print F

[102.56, 97.7, 99.14, 100.03999999999999]

In [103]:
str1 = 'Today is very nice and I want to go out for dinner'

temp = [ch for ch in str1 if ch == ' ']
print len(temp)

11

In [106]:
str1 = 'Today is very nice and I want to go out for dinner'

vowels = 'aeiou'
temp = [ch for ch in str1 if not ch in vowels]
print ''.join(temp)

Tdy s vry nc nd I wnt t g t fr dnnr

In [ ]:
'22' in ['1', '22', '3', '4df']

In [107]:
'ad' in 'adfdfda'

True

In [25]:
str1 = 'Today is very nice and I want to go out for dinner'
print len([word for word in str1 if word == ' '])

11

In [28]:
vowels = 'aeiou'
str1 = 'Today is very nice and I want to go out for dinner'

print ''.join([word for word in str1 if word not in vowels])

Tdy s vry nc nd I wnt t g t fr dnnr

* assignment
 1. 1 - 1000까지 정수 중 소수만 출력하시오.
 2. 1 - 9000까지 정수 중 palindrome의 개수는? palindrome은 11, 121, 1331, 999 등 앞으로 읽으나 뒤로 읽으나 같은 수를 의미 합니다.

In [114]:
def anti_vowel(text):
    a = list(text)
    v= list("aeiouAEIOU")

    for i in a:
        if i in v:
            a.remove(i)
        print i, a
        
    return ''.join(a)

print anti_vowel('heollo')

h ['h', 'e', 'o', 'l', 'l', 'o']
e ['h', 'o', 'l', 'l', 'o']
l ['h', 'o', 'l', 'l', 'o']
l ['h', 'o', 'l', 'l', 'o']
o ['h', 'l', 'l', 'o']
hllo